body {background-color: #e5eced;
    color: #e0eae7; }
    
    h1 {color: #ddc50f;
        background-color: #295536;}
    
    a{color: #80B3FF;
        background-color: #e0eae7;}
    
    a:hover {color: #68ffa7;}
    
    p,ul,td,th {color:darkblue;}
    
    nav a {color: #ebeff0;
        background-color:midnightblue; 
        padding: 20px;
        margin-bottom: 30px;}
    
        nav a:hover {background-color: #80B3FF}

    .clear1{float:left;}
    .clear2{float:right;}

    .row1, .row2{display:flex;
    border-radius:1em;}
    .row1 {background-color: #5353af;
        flex: 1;
        padding: 10px;
        margin: 10px;
    }
    .row2{background-color: #5353af; 
        display:flex;
        flex-wrap:wrap;
        flex: 1;
        padding: 10px;
        margin: 10px;
        }
    .column2 {text-align: center;
        flex: 1; 
        padding: 10px;
        margin: 10px;}
    .column4{
        flex: 1;
        padding: 10px;
        margin: 10px;
    }

   .title{text-align:center;
    margin: 10px;
    padding: 10px;
} 

   .mainskills{display:flex;
        margin:30px;
        padding:30px;
    justify-content: space-around;
    flex:3;
}
   .Otherskills{background-color:#295536;
    margin: 30px;
    padding:30px;
border-radius: 1em;
flex:1;
}


.flexbox2{display:flex;
margin:30px;
padding:30px;}

@media only screen and (max-width: 600px) {
    nav a {max-width:100%;
    display:block;
    padding:10px;}
    span{display:none;}
}
@media only screen and (min-width: 601px) {
    
}

#skip{background-color:brown;
padding:5px;
position:absolute;
top:10px;
left: -999px;}

.skip:focus {
    left:10px;
}