body {background-color: #e8d9ee;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-size:16px;}

    h1 {color: white ;
        background-color: rgb(10, 128, 106);
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 24px;}


        a:hover {color: rgb(200, 236, 200);}

        p,ul,td,th {color:darkblue;}

        .clear1{float:left;}
    .clear2{float:right;}


    /*Change color and padding*/
    .Everything{background-color: white;
        margin: 10px;
        padding:10px;
    border-radius: 1em;
    flex:1;
    font-family: 'Roboto Condensed', sans-serif;
    font-size:24px;
    }

    h2 {color: white ;
        background-color: rgb(10, 128, 106);
        font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;}

    h3 {color: white ;
            background-color: rgb(10, 128, 106);
            font-family: 'Roboto Condensed', sans-serif;
        font-size:24px;}

        .music-info {
             color:black;
                font-family: 'Roboto Condensed', sans-serif;
                font-size:24px;
            }

    h4 {color: white ;
                background-color: rgb(10, 128, 106);
                font-size: 20px;
                font-family: 'Roboto Condensed', sans-serif;
                font-size:24px;}
                
     h5 {color: white;
          background-color: rgb(10, 128, 106);
        font-size: 24px;
        font-family: 'Roboto Condensed', sans-serif;}

        .flex-container {
            display:flex;
            flex-wrap:wrap;
        }

        img {
            max-width:100%;
            height:auto;
        }

        .flex-container img {
            max-width: 100%;
            height: auto;
            margin: 20px;
            flex-wrap:wrap;
        }


        @media only screen and (max-width: 600px) {
            nav a {max-width:100%;
            display:block;
            padding:10px;}
            span{display:none;}
        }
        @media only screen and (min-width: 601px) {
             
        }

        /* Dropdown code */

        body {
            font-family: 'Roboto Condensed', sans-serif;
            margin: 0;
            padding: 0;
        }
        
        nav {
            background-color: rgb(10, 128, 106);
        }
        
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        
        li {
            float: left;
        }
        
        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        li a:hover {
            background-color: rgb(10, 128, 106);
        }
        
        .dropdown {
            display: inline-block;
        }
        
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            box-shadow: 0 8px 16px 0 rgb(10, 128, 106);
        }
        
        .dropdown:hover .dropdown-content {
            display: block;
        }
        
    
        

    