body {background-color: #e8d9ee;
    color: #070c45;}

    h1 {color: #e8d9ee ;
        background-color: rgb(10, 128, 106);}


        a:hover {color: rgb(200, 236, 200);}

        p,ul,td,th {color:darkblue;}

        .clear1{float:left;}
    .clear2{float:right;}


    /*Change color and padding*/
    .Everything{background-color: white;
        margin: 10px;
        padding:10px;
    border-radius: 1em;
    flex:1;
    }

    h2 {color: #e8d9ee ;
        background-color: rgb(10, 128, 106);}

    h3 {color: #e8d9ee ;
            background-color: rgb(10, 128, 106);}

            .music-info {
                color:black
            }

    h4 {color: #e8d9ee ;
                background-color: rgb(10, 128, 106);
                font-size: 20px;
            }
                
     h5 {color: #e8d9ee;
          background-color: rgb(10, 128, 106);
        font-size: 20px;}

        .flex-container {
            display:flex;
        }

        .flex-container img {
            max-width: 100%;
            height: auto;
            margin: 20px;
        }

        @media only screen and (max-width: 600px) {
            nav a {max-width:100%;
            display:block;
            padding:10px;}
            span{display:none;}
        }
        @media only screen and (min-width: 601px) {
            
        }
    
        

    